.sidebar-nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-height: 100vh;
    background-color: var(--color-white); 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05); 
    flex-shrink: 0;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.nav-button {
    text-decoration: none;
    display: block;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 750;
    color: var(--color-text-dark); 
    background-color: transparent;
    border: solid 0.5px var(--color-text-dark);
    text-align: center;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    cursor: pointer;
}

.nav-button:hover {
    background-color: var(--color-bg-light); 
    color: var(--color-primary);
}

.nav-button a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.nav-footer {
    padding: 1rem 0;
    margin-top: auto;
    border-top: 1px solid var(--color-border);
}

.logout-button {
    width: 100%;
    color: var(--color-error-text) !important;
}

.logout-button:hover {
    background-color: var(--color-error-bg);
}