html, body, #root {
  min-height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f4f4f9;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

:root {
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-ring: rgba(59, 130, 246, 0.5);
  --color-primary-light: #e0f2ff;
  --color-primary-hover: #bae6fd;
  --color-primary-dark: #075985;
  --color-primary-rgb: 59, 130, 246;

  --color-white: #ffffff;
  --color-bg-light: #f9fafb;
  --color-border: #d1d5db;

  --color-text-dark: #1f2937;
  --color-text-medium: #374151;

  --color-success-bg: #d1fae5;
  --color-success-text: #065f46;
  --color-error-bg: #fee2e2;
  --color-error-text: #991b1b;
}